.block{
    border: 1px solid;
    text-align: center;
    border-radius: 0.5rem;
}
.prepod{
    text-align: center;
    margin-bottom: 2%;
    color:#1B317A;
}
h2{
    text-align: center;
}
span{
    color: darkred;
}
.loading{
    margin-left: 45%;
    margin-top:8rem;    
}
.drop{
    border: 1px solid;
    border-radius: 0.5rem;
}
